<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="flutterwave.com.rave">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="flutterwave.com.rave.Components.RaveDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>
